[Unit]
Description=firefox

[Service]
EnvironmentFile=/home/user/.config/systemd/user/desktop.envs

ExecStart=/usr/lib/firefox-esr/firefox-esr

NoExecPaths=/
ExecPaths=/usr/bin/bwrap
ExecPaths=/usr/lib64/
ExecPaths=/usr/lib/

MemoryDenyWriteExecute=false

PrivateUsers=yes

PrivateDevices=true
BindPaths=/dev/dri/

ProtectSystem=strict

ProtectHome=tmpfs

BindPaths=/home/user/.mozilla
BindPaths=/home/user/Downloads

BindPaths=/run/user/1000/wayland-0
BindPaths=/run/user/1000/pipewire-0

TemporaryFileSystem=/home/user/.cache
TemporaryFileSystem=/home/user/.local
TemporaryFileSystem=/run/user/1000/dconf

PrivateTmp=yes
PrivateNetwork=false

[Install]
WantedBy=default.target
